---
import BaseLayout from '../layouts/BaseLayout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import TeamMatrix from '../components/TeamMatrix.astro';
import CapabilityGrid from '../components/CapabilityGrid.astro';
import WorkLog from '../components/WorkLog.astro';
import Thoughts from '../components/Thoughts.astro';
import AboutUs from '../components/AboutUs.astro';
import CTASection from '../components/CTASection.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout>
  <Navbar />
  <main>
    <Hero />
    <TeamMatrix />
    <CapabilityGrid />
    <WorkLog />
    <Thoughts />
    <AboutUs />
    <CTASection />
  </main>
  <Footer />
</BaseLayout>
